@charset "UTF-8";

@import 'settings-custom';

// Include our own version of FontAwesome
@import 'Vendor/font-awesome';

@keyframes shake {
	0%, 25%, 100% {
		transform: translate3d(0, 0, 0);
	}
	5%, 15% {
		transform: translate3d(0, -6px, 0);
	}
	10%, 20% {
		transform: translate3d(0, 6px, 0);
	}
}

body.neos-backend {
	// Add top padding while in Neos backend, so the toolbar with [+] for adding new content is visible
	padding-top: 2.2rem;
}

// Improve a bit UX when there's no content at all
// and add an indication where to click to start.
body.no-main-content > main {
	.neos-contentcollection {
		> .neos.neos-empty-contentcollection-overlay {
			$height: 41px;
			height: $height;
			margin-left: 2px;
			margin-right: 2px;
	
			&:before {
				@extend .#{$fa-css-prefix};
				@extend .#{$fa-css-prefix}-2x;
				float: right;
				padding: 0.9rem 1rem;
				content: $fa-var-angle-double-up;
				color: #666;
				animation: shake 2.5s infinite;
				animation-delay: 2s;
			}
			&:after {
				content: 'Click here to add content';
				line-height: $height;
				float: right;
				color: #666;
			}
		}
	}
}

.neos {
	// decrease font size in all lists (e.g. page tree, structure tree)
	ul, ol, dl {
		font-size: 0.9rem;
	}

	// Restore Neos colors after they were overridden by Foundation
	label {
		color: inherit;
	}

	// inspector: decrease spacing between fields
	#neos-inspector .neos-inspector-form .neos-inspector-field > div {
		padding-bottom: 8px;
	}
	// Increase the default height of 'Structure' panel when it's open
	#neos-navigate-panel:not(.neos-navigate-panel-context-structure-open) #neos-node-tree {
		height: 30%;
	}
}

// Hide empty CC overlay, if parent has .neos-hide-empty-contentcollection-overlay class
// We use it e.g. in Tabs to hide CC overlay for M12.Foundation:TabNavItem
// See https://github.com/million12/M12.Foundation/commit/675ecb95d971c9888b84b9b0119682460dc12c9d
.neos-hide-empty-contentcollection-overlay .neos-empty-contentcollection-overlay {
	display: none;
}

//
// Intercom.io styling (back-end only)
//
#intercom-container.intercom-container { // intentionally create over-specificity to override the styles easily
	.intercom-sheet {
		width: 320px;
	}
	// add small box shadow, so it's clear that we have some extra element
	// over our stuff
	.intercom-conversation,
	.intercom-conversations {
		box-shadow: 0 0 20px rgba(#3f3f3f, 0.5);
	}
	.intercom-launcher {
		bottom: 50px;
		right: 10px;
	} 
	// switch off the border: it doesn't go well with our bg colour
	.intercom-launcher-button {
		width: 42px;
		height: 42px;
		background-size: 20px 20px;
		border-style: none;
		opacity: 0.7;
		&:hover {
			opacity: 1;
		}
	}
}
