// Classes for M12.Foundation:AbstractDevCustomLook

.text-small {
    font-size: 90%;
}

.text-xsmall {
    font-size: 80%;
}

.text-xxsmall {
    font-size: 70%;
}

.text-color-white {
    color: #fff;
}
