//
// Intercom.io styling (back-end only)
//
#intercom-container.intercom-container { // intentionally create over-specificity to override the styles easily
	.intercom-sheet {
		width: 320px;
	}
	// add small box shadow, so it's clear that we have some extra element
	// over our stuff
	.intercom-conversation,
	.intercom-conversations {
		box-shadow: 0 0 20px rgba(#3f3f3f, 0.5);
	}
	.intercom-launcher {
		bottom: 50px;
		right: 10px;
	}
	// switch off the border: it doesn't go well with our bg colour
	.intercom-launcher-button {
		width: 42px;
		height: 42px;
		background-size: 20px 20px;
		border-style: none;
		opacity: 0.7;
		&:hover {
			opacity: 1;
		}
	}
}
